<!-- Modal -->
<div class="modal fade" id="updateModal_{{ student.id }}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="" method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Update Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" value="{{ student.id }}" />

          <label for="name" class="form-label">Studnet Name</label>
          <input type="text" class="form-control" name="stName" value="{{ student.name }}" required />
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="stEmail" value="{{ student.email }}" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="update">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
